body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color:#203466;
}

header{
    position: relative;   
    background-color: #31c0d0;
    text-align: center;
    padding: 40px 0 20px 0;
}

header .map{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

header h1{
    font-size: 60px;
    font-weight: bold;
    color:#203466;
}

#controls{
    max-width: 600px;
    margin: 40px auto 60px auto;
    text-align: center;
}

#controls label{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#controls input{
    width: 100%;
    padding: 12px 16px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#controls button{
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #f89460;
    color: #fefffd;
}

#result{
    width: 70%;
    margin: 40px auto;
    font-size: 18px;
}

#result table{
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
}
#result th{
    text-align: left;
}
#result td{
    border-bottom: 2px;
}